/* GLOBAL */

body {
    font-family: "Roboto Mono", monospace;
    min-height: 854px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEAFAV6uHLVIKpdqXtKAKvZu9Nul-RTqN8i5CwhBePGbRTHzxOgNmNV2rvb5wNu0YjUW0&usqp=CAU");
    background-color: #000000;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom:2vh
 }

*{
    margin: 0; padding: 0;
}

body{
      font-family: 'Roboto', sans-serif;
    background-color: #810707;
}
ul{
    list-style: none;
    
}

header{
    max-width: 300px;
    height: 2px;
     margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3px;
    padding: 32px;
    
    }
    section,h2 {
        max-width: 300px;
       
        margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    font-size: 22px;
          font-family: 'Roboto Serif', serif;
}
section{
    margin-bottom: 5px;
     color:white;
    font-size: 16px;
}

header p {
    font-size: 12px;
    line-height: 16px;
    color:white;
}

    h2{
        text-align: center;
        background-color: #000000;
        margin-bottom: 2px;
        
        color: #E08011;
          font-family: 'Roboto Serif', serif;
       
    }
    ul li{
     margin-bottom: 16px;   
     display: flex ;
      border: 1px solid black;
    }
    .price{
     
       font-family: 'Roboto Serif', serif; 
       margin-left: auto; 
    }
   
    .details h3{
 margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    }
    li .details {
    max-width: 300px;
    }
    span{
        font-size: 16px;
        color:#E08011;
    }
   
    
   
    

   


